<div class="header">
  <header id="header">
    <span>Test something</span>
    <p *ngIf="authServ.isLogin()">
      Веселитесь {{authServ.getUsername()}}!
    </p>
    <p *ngIf="!authServ.isLogin()">
      Очень странно, !
    </p>
  </header>
</div>
<div class="content-container">
<canvas #canvas class="canvas-style"
          (click)="onCanvasClick($event)">Unsupported</canvas>
  <app-coordinates-form (rChanged)="updateRValue($event)"></app-coordinates-form>
  <div class="controlButton">
    <button type="submit" (click)="goHome()">Home</button>
    <button type="submit" (click)="showData()">ShowData</button>
  </div>
</div>

<table #resultsTable class="resultsTable">
  <thead>
  <tr>
    <th>X</th>
    <th>Y</th>
    <th>R</th>
    <th>Result</th>
  </tr>
  </thead>

</table>
