<div id="backAuth">
  <div class="header">
    <header id="header">
      <span>Liashenko Nikita Var. 102417</span>
      <p *ngIf="authService.isLogin()">
        Привет {{authService.getUsername()}}!
      </p>
      <p *ngIf="!authService.isLogin()">
        Привет незнакомец!
      </p>
    </header>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="inputFields">
    <input type="text" formControlName="login" placeholder="Username">
    <input type="password" formControlName="password" placeholder="Password">
      <p class="text-red-700 font-medium" *ngIf="(!userForm.valid && !authService.isLogin())">Invalid login or password</p>
    </div>
    <br>
    <div class="controlButton">
    <button type="submit" [disabled]="!userForm.valid" [class.passiveButton]="authService.isLogin()" [class.activeButton]="!authService.isLogin()">Login</button>
    <button type="button" (click)="onRegister()" [disabled]="!userForm.valid" [class.passiveButton]="authService.isLogin()" [class.activeButton]="!authService.isLogin()">Register</button>
    </div>
  </form>
  <div class="controlButton">
  <button type="submit" [disabled]="!authService.isLogin()" (click)="goHome()" [class.passiveButton]="!authService.isLogin()" [class.activeButton]="authService.isLogin()">Main</button>
  <button type="submit" [disabled]="!authService.isLogin()" (click)="authService.logout()" [class.passiveButton]="!authService.isLogin()" [class.activeButton]="authService.isLogin()">Logout</button>
  </div>
  <br>
</div>
