<div class="inputController">
  <form [formGroup]="coordinatesForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
      <label for="xValue" class="font-bold">X: {{coordinatesForm.value.x}}  </label>
      <select id="xValue" formControlName="x" (change)="changeX()">
          <option *ngFor="let num of numbers" [value]="num">{{num}}</option>
      </select>
      <span  class="text-black-700 font-medium someAlarm" *ngIf="(x.errors?.['required'])">You need chose 1 item</span>
    </div>


    <div class="flex flex-col">
      <label for="yValue" class="font-bold">Coordinate Y: {{coordinatesForm.value.y}}</label>
      <input id="yValue" type="text"
             placeholder="Values in [-3.0; 5.0]"
             formControlName="y" maxlength="6"
             [class.is-invalid]="y.invalid && (y.dirty || y.touched)"
             (change)="changeY()">
      <span  class="text-red-700 font-medium someAlarm" *ngIf="(y.errors?.['required'] || y.errors?.['min'] || y.errors?.['max'] || y.errors?.['pattern'])">Invalid Y value</span>
    </div>

    <div class="flex flex-col">
      <label for="rValue" class="font-bold">R: {{coordinatesForm.value.r}}  </label>
      <select id="rValue" formControlName="r" (change)="onSelectR()">
        <option *ngFor="let num of numbers" [value]="num">{{num}}</option>
      </select>
      <span  class="text-black-700 font-medium someAlarm" *ngIf="(r.errors?.['required'])">You need chose 1 item</span>
    </div>
    <div class="controlButton">
      <button type="submit" >Submit</button>
      <button type="button"(click)="explodeAtomic()">Clear Table</button>
    </div>
  </form>
</div>

